<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>theme</key>
	<dict>
		<key>tintColor</key>
		<string>#3498db</string>
		<key>navigationBarColor</key>
		<string>#3498db</string>
	</dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>FooterText</key>
			<string>## XXTouch 服务条款

**您在安装 XXTouch 客户端或者使用 XXTouch 服务前应当认真阅读下列协议（“许可证”）。如果您不同意本协议的所有条款，那么您将不能安装本软件程序。**

感谢您使用 XXTouch 服务（简称“XXTouch 服务”或“本服务”）。

XXTouch 用户许可协议（简称“本条款”）是您和 XXTouch 公司之间的法律协议。在遵守本条款规定的前提下，您有权使用 XXTouch 服务。

XXTouch 公司及其关联公司和许可方（统称为“XXTouch 公司”）是一个可以在 iOS 系统(苹果公司推出的移动终端系统，简称“iOS”)上自动模拟人工操作手机、平板的软件，方便开发者进行软件稳定性、压力测试的工具。

1.  **服务**

    *   必备条件。在使用 XXTouch 服务之前，您必须:

        *   同意本条款以及适用于 XXTouch 服务的游戏的其他公开规则；
        *   为即将使用 XXTouch 服务购买或已经购买有效的授权码（运营方有权根据实际业务需要，独立决定许可流程以及是否需要购买授权码）；
    *   iOS 设备终端。因为 iOS 系统机制问题，XXTouch 服务需要在 iOS 越狱设备上安装，但 XXTouch 公司并没有以任何方式强制要求您进行相关操作，您有权按照您自己的真实意愿决定是否对您的苹果设备进行越狱，因此而产生的任何问题均与 XXTouch 公司无关。
    *   XXTouch 服务在正确安装后，里面并不自带任何脚本。您有权自行录制、编写任何脚本，您也可以通过购买或者其他合法渠道获得脚本，但您不得通过任何渠道获得任何违反中华人民共和国法律法规或侵犯第三方合法权益的脚本。否则，因上述事宜所产生的一切法律责任均由您承担，XXTouch 公司在此种情况下有权单方解除本协议，您应当同时负责赔偿 XXTouch 公司遭受的全部损失，包括但不限于任何的赔偿金、补偿金、违约金、罚款、诉讼费、调查取证费、公证费、律师费等。
    *   您在购买 XXTouch 服务授权码时，可以在 XXTouch 公司官方客服或授权代理销售处购买。您必须采用 XXTouch 公司指定的方式购买授权，可供购买方式包括但不限于：网上银行、第三方支付（例如支付宝、财付通等）、手机充值卡。您的购买行为表示您已经同意并自愿遵守 XXTouch 服务的相关授权规则（授权规则的修改权及最终解释权均归 XXTouch 公司，具体内容以 XXTouch 公司运营方公布的授权规则为准）。
    *   XXTouch 公司有权对通过非正常途径充值的授权码进行冻结。XXTouch 公司保留向通过冒充、盗用他人身份或者帐号等非正常途径购买授权码的单位或个人追究法律责任的一切权力。
    *   XXTouch 服务授权码一旦购买成功并激活使用，即同意本协议，您不得要求退还已付金额。
    *   XXTouch 公司终止运营或者运营权发生转移的，有权提前30日予以公告。
2.  **服务功能**

    *   如出现以下情况官方不给予承担责任

        *   服务内存在可能会引发丢失数据、信息泄露、数据修改等功能，因个人原因或使用第三方脚本出现的丢失数据、信息泄露、数据修改等。
        *   因个人原因携带脚本或数据的设备销售、租借、转让等，出现的丢失数据、信息泄露、数据修改等。
3.  **授权码及代理销售许可**

    XXTouch 服务是需购买授权码后授权方可正常使用的工具。

    销售许可是运营方许可可自行创建授权码的许可证书。

    授权码（或销售许可）正常购买后请妥善保管，如出现非 XXTouch 公司造成的丢失、盗用，XXTouch 公司有权拒绝授权码（或销售许可）的更换、退还等服务。

    授权码（或销售许可）会根据市场行情或运营需求进行调整，可能无法及时性的告知您，但统一价格以官方销售平台价格或与客服沟通的价格为准。

4.  **代理销售**

    *   在您同意并遵守本许可协议的前提下，由官方工作人员处购买后运营方特此授予您、您特此接受一个不可转让的、不可再许可的、非独家的销售许可。
    *   销售价格可参照 XXTouch 公司提供的建议价格进行销售。
    *   购买以及充值，请直接联系官方工作人员，官方销售价格根据市场以及运营需要
    *   代理销售价格以及代理销售协议可由官方运营需要进行调整。
    *   代理销售需遵循本协议，否则官方有权收回您的代理销售身份。
5.  **知识产权**

    *   XXTouch 公司所有的LOGO、商标、图形、XXTouch 服务软件及其他产品、技术、源代码与所有程序的知识产权及其他合法权益均属于 XXTouch 公司，在此并授权。
    *   未经 XXTouch 公司许可，任何人不得擅自以任何方式（包括但不限于：以非法的方式复制、传播、展示、镜像、上传、下载）使用，或通过非常规方式（如：恶意干预数据）影响 XXTouch 公司的正常服务,也不得对 XXTouch 服务软件进行反向编译，更不得在 XXTouch 服务软件中放置或嵌入木马程序或后门等危害第三方数据安全性的程序。否则，XXTouch 公司将依法追究法律责任。
6.  **免责事由**

    您知悉并同意，XXTouch 公司不因下述任一情况而可能导致的任何损害赔偿承担责任，包括但不限于财产、收益、数据资料等方面的损失或其它无形损失：

    *   因台风、地震、海啸、洪水、停电、战争、恐怖袭击等不可抗力之因素导致 XXTouch 公司充值系统或服务不能正常运作。
    *   由于黑客攻击、电信部门技术调整或故障、系统维护等原因而造成的系统服务中断或者延迟。
    *   由于政府命令、法律法规的变更、司法机关及行政机关的命令、裁定等原因而导致的系统服务中断、终止或延迟。
    *   由于您将授权码（或销售许可）告知他人或未保管好自己的授权码（或销售许可）或与他人共享 XXTouch 服务软件或任何其他非本公司的过错，导致您的个人资料泄露。
    *   由于与本公司链接或合作的其它网站（如网上银行等）所造成的银行帐户信息、身份信息泄露及由此而导致的任何法律争议和后果。
    *   您（包括未成年人用户）向本公司提供错误、不完整、不实信息等，造成不能使用授权码（或销售许可）或遭受任何其他损失。
    *   如因系统维护或升级的需要而需暂停网络充值服务时，我们将尽可能事先进行通告。对于充值服务的中断或终止而给您造成的任何损失，我们无须对您或任何第三方承担任何责任。
    *   服务内存在可能会引发丢失数据、信息泄露、数据修改等功能，因个人原因或使用第三方脚本出现的丢失数据、信息泄露、数据修改等。
    *   因个人原因携带脚本或数据的设备销售、租借、转让等，出现的丢失数据、信息泄露、数据修改等。
7.  **隐私策略**

    XXTouch 公司将严格保护您的隐私。会根据运营或某些需求收集设备以及个人信息，信息将由运营方严格遵守《隐私政策》进行一系列运营工作，如有除此之外的任何其他用途，我们都会提前征得您的同意。

8.  **使用限制和条件**

    *   不得违反法律规定。您同意，在使用 XXTouch 服务的过程中，不会违反任何适用法律法规的规定。不限前述事项，您不会藉 XXTouch 公司提供任何可能侵犯第三方著作权、商标权、专利权、商业秘密或其它权利（包括个人隐私权和公开权）的材料或信息。
    *   滥用服务。您不得以任何未被此条款明确允许的方式连接或使用 XXTouch 服务。不限前述事项，您同意不会发起、协助或参与任何形式的攻击行为，包括但不限于

        *   攻击 XXTouch 服务、试图中断 XXTouch 服务或阻碍他人正常使用 XXTouch 服务；
        *   试图不经过授权而使用 XXTouch 服务、他人 iOS 设备或者进入与 XXTouch 服务相关联的计算机系统或网络。
    *   不得进行数据采集。您同意不会

        *   以任何未被运营方明确允许的方式，从 XXTouch 服务或任何游戏获取或试图获取信息；
        *   拦截、检视或观察任何由客户端或 XXTouch 服务使用的专属通信协议，不论是通过使用网络分析器、封包窃听器还是其它设备；
        *   使用任何第三方软件从/通过游戏客户端或 XXTouch 服务采集信息。
9.  **法律适用与争议解决**

    本协议的订立、效力、解释、履行、修改和终止以及争议的解决适用中国的法律。因解释和履行本协议而发生的任何争议，本协议双方应首先通过友好协商的方式加以解决。如果在一方向其他方发出要求协商解决的书面通知后30天之内争议仍然得不到解决，则任何一方均有权向人民法院提起诉讼，诉讼费用除法院另有决定外，由败诉一方负担。

10.  **其他**

    *   XXTouch 服务不保证所有越狱的 iOS 设备均可正常运行，您应当在使用前先查询确认您的设备是否可以正常运行，XXTouch 公司不会因为您的设备无法正常运行 XXTouch 服务而向您退款。
    *   iOS 设备越狱，对于苹果公司是禁止的。XXTouch 服务需要基于越狱基础上才能运行，如果您出现因越狱造成的损失，我们将不给予任何的技术支持以及赔偿。
    *   本协议项下所有的通知均可通过重要页面公告等方式进行，该等通知于发送之日视为已送达您。
    *   本协议构成双方对本协议之约定事项及其他有关事宜的完整协议，除本协议规定的，未赋予本协议各方其他权利。
    *   如本协议中的任何条款无论因何种原因完全或部分无效或不具有执行力，本协议的其余条款仍应有效并且有约束力。
    *   本协议中的标题仅为方便而设，不具法律或契约效果。
11.  **联系方式**

    *   E-mail:info@xxtouch.com</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
	</array>
</dict>
</plist>
